.layout-about {
  padding-top: 70px;
}
hr.line-about {
  float: left;
  margin-top: 7px;
  border-top: 1px solid #c7c7c7;
  width: 50px;
}

.about-sub {
  font-size: 12pt;
  margin-left: 8px;
  color: #c7c7c7;
  float: left;
  //   background-color: red;
  font-family: "BerlingskeSerif Bold";
  src: url(../font/BerlingskeSerif-Bold.ttf);
  letter-spacing: 0.5px;
}

.eachexperience-line {
  border-top: 0.6px solid #c7c7c7;
}

.about-info {
  h1 {
    font-family: "Graphik SemiBold";
    src: url(../font/Graphik-Semibold.ttf);
    color: #404040;
    // position: absolute;
    display: block;
    margin-top: 7%;
    text-align: left;
    font-size: 30pt;
    @media (max-width: $lg) {
      font-size: 30pt;
    }
    @media (max-width: $md) {
      font-size: 25pt;
    }
    @media (max-width: $sm) {
      font-size: 19pt;
    }

    // background-color: red;
  }

  p {
    font-family: "Graphik Regular";
    src: url(../font/Graphik-Regular.ttf);
    color: #aaaaaa;
    // margin-left: 24%;
    margin-top: 5%;
    text-align: left;
    font-size: 14pt;
    line-height: 26pt;
    padding-bottom: 11%;
    @media (max-width: $lg) {
      font-size: 12pt;
      line-height: 20pt;
    }
    @media (max-width: $md) {
      font-size: 12pt;
      line-height: 20pt;
    }
    @media (max-width: $sm) {
      margin-top: 1%;

      // font-size: 1.5em;
      // margin-left: 0;
    }

    @media (max-width: $xs) {
      // font-size: 1.5em;
      // margin-left: 0;
    }
    // background-color: red;
  }
}

// expereience column

hr.line-experience {
  float: left;
  border-top: 1px solid #c7c7c7;
  width: 50px;
}

.experience-sub {
  margin-top: 8px;
  font-size: 12pt;
  margin-left: 2%;
  color: #c7c7c7;
  float: left;
  //   background-color: red;
  font-family: "BerlingskeSerif Bold";
  src: url(../font/BerlingskeSerif-Bold.ttf);
  letter-spacing: 0.5px;
}

.more-image {
  // background-color: red;

  width: 15px;

  @media (max-width: $md) {
    width: 12px;
  }

  // @media (max-width: $lg) {
  //   width: 8%;
  //   // margin: auto;
  // }
  // z-index: 9000;
}

.experienceContent {
  margin-top: 5%;
  font-family: "Graphik Light";
  font-style: normal;
  font-weight: normal;
  src: url(../font/Graphik-Light.ttf);
}

.experienceOneBullets {
  margin: auto;
}

.eachExperience ul {
  padding: 0;

  list-style-type: none;
}

.eachExperience {
  margin-bottom: 8%;
}

.eachExperience p {
  margin: auto;
  font-size: 12pt;
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  color: #404040;
}

.eachExperience li {
  margin: auto;
  font-size: 12pt;
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  color: #404040;
}

.eachExperience h6 {
  display: inline-block;
  font-size: 12pt;

  font-family: "Graphik Regular Italic";
  src: url(../font/Graphik-RegularItalic.ttf);

  color: #404040;
}

.position {
  font-size: 12pt;
  font-family: "Graphik Medium";
  src: url(../font/Graphik-Medium.ttf);
  color: #404040;
  @media (max-width: $md) {
    font-size: 12pt;
  }
  @media (max-width: $sm) {
    font-size: 11pt;
  }
}

.company {
  font-size: 12pt;
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  color: #404040;
  @media (max-width: $md) {
    font-size: 12pt;
  }
  @media (max-width: $sm) {
    font-size: 11pt;
  }
}

.year {
  font-size: 12pt;
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  color: #404040;
  @media (max-width: $md) {
    font-size: 12pt;
  }
  @media (max-width: $sm) {
    font-size: 8pt;
    justify-content: center;
  }
}

.fulleducation {
  margin-top: 10%;
}

hr.line-education {
  float: left;
  border-top: 1px solid #c7c7c7;
  width: 50px;
}

.education-sub {
  margin-top: 8px;
  font-size: 12pt;
  margin-left: 2%;
  color: #c7c7c7;
  float: left;
  //   background-color: red;
  font-family: "BerlingskeSerif Bold";
  src: url(../font/BerlingskeSerif-Bold.ttf);
  letter-spacing: 0.5px;
}

.fulleducation-info {
  margin-top: 2%;
}
.education-two {
  margin-top: 6%;
  margin-bottom: 30%;
}
.school {
  font-size: 12pt;
  font-family: "Graphik Medium";
  src: url(../font/Graphik-Medium.ttf);
  color: #404040;
}

.degree {
  font-size: 12pt;
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
}

.skills-bg {
  background-color: #f6f6f6;
}

.skills-inside {
  padding-top: 10%;
  padding-bottom: 10%;
}

.skills-design {
  font-size: 12pt;
  color: #c7c7c7;
  //   background-color: red;
  font-family: "BerlingskeSerif Bold";
  src: url(../font/BerlingskeSerif-Bold.ttf);
  letter-spacing: 0.5px;
}

.skills-programming {
  font-size: 12pt;

  color: #c7c7c7;

  //   background-color: red;
  font-family: "BerlingskeSerif Bold";
  src: url(../font/BerlingskeSerif-Bold.ttf);
  letter-spacing: 0.5px;
}
.skills-tools {
  font-size: 12pt;

  color: #c7c7c7;

  //   background-color: red;
  font-family: "BerlingskeSerif Bold";
  src: url(../font/BerlingskeSerif-Bold.ttf);
  letter-spacing: 0.5px;
}

.skills-inside p {
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  text-align: left;

  // padding-bottom: 100px;
  font-size: 12pt;
  line-height: 20pt;
  margin-bottom: 7%;
  // margin-bottom: 7%;
  color: $primary;
  @media (max-width: $xl) {
    font-size: 12pt;
  }
  @media (max-width: $lg) {
  }
  @media (max-width: $md) {
    font-size: 12pt;
    line-height: 18pt;
  }
}

.education-year {
  font-size: 12pt;
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  color: #404040;
  @media (max-width: $md) {
    margin-left: -10%;
    font-size: 12pt;
  }
  @media (max-width: $sm) {
    // margin-left: -30%;

    font-size: 10pt;
  }
}
