.subheading-work {
  @media (max-width: $lg) {
    margin-top: 10%;
  }
}

hr.line-work {
  //   display: block;
  margin-top: 56px;
  border-top: 1px solid #c7c7c7;
  width: 50px;
}

.work-sub {
  margin-left: 10px;
  font-size: 10pt;
  color: #c7c7c7;
  float: left;
  // background-color: red;
  font-family: "BerlingskeSerif Bold";
  src: url(../font/BerlingskeSerif-Bold.ttf);
  letter-spacing: 2px;
  //   background-color: red;
}

.all-articles {
  padding-bottom: 50%;
}
