.large-container {
  width: 69%;
  float: none;
  margin: auto;
  // background-color: green;
  @media (max-width: $xl) {
    width: 80%;
    float: none;
    margin: auto;
  }
  @media (max-width: $lg) {
    width: 80%;
    float: none;
    margin: auto;
  }

  @media (max-width: $md) {
    width: 85%;
    float: none;
    margin: auto;
  }

  // @media (max-width: $sm) {
  //   width: 80%;
  //   float: none;
  //   margin: auto;
  // }
  // @media (max-width: $xs) {
  //   width: 80%;
  //   float: none;
  //   margin: auto;
  // }
}

.col-centered {
  float: none;
  text-align: center;
}

// upvotes

// comment

.articles-container {
  width: 80%;
  align-items: center;
}

.next-project {
  margin-top: 20%;
}

.next-project h3 {
  font-family: "BerlingskeSerif ExtraBold";
  src: url(../font/BerlingskeSerif-ExtraBold.ttf);
  color: #aaaaaa;
  font-size: 2em;
}

.next-project h1 {
  font-family: "Graphik SemiBold";
  src: url(../font/Graphik-Semibold.ttf);
  color: #404040;
  font-size: 50pt;
  padding-right: 30px;
  &:hover {
    color: #aaaaaa;
  }
}
