.large-container {
  width: 69%;
  float: none;
  margin: auto;
  // background-color: green;
  @media (max-width: $xl) {
    width: 80%;
    float: none;
    margin: auto;
  }
  @media (max-width: $lg) {
    width: 80%;
    float: none;
    margin: auto;
  }

  @media (max-width: $md) {
    width: 85%;
    float: none;
    margin: auto;
  }
}

.article-container {
  width: 56%;
  float: none;
  margin: auto;
  // background-color: green;
  @media (max-width: $xl) {
    width: 66%;
    float: none;
    margin: auto;
  }
  @media (max-width: $lg) {
    width: 80%;
    float: none;
    margin: auto;
  }

  @media (max-width: $md) {
    width: 85%;
    float: none;
    margin: auto;
  }
}

.col-centered {
  float: none;
  text-align: center;
}

// upvotes

// comment

.articles-container {
  width: 80%;
  align-items: center;
}

.next-project {
  margin-top: 20%;
}

.next-project h3 {
  font-family: "BerlingskeSerif ExtraBold";
  src: url(../font/BerlingskeSerif-ExtraBold.ttf);
  color: #aaaaaa;
  font-size: 16pt;
  @media (max-width: $lg) {
    // padding-top: 5%;
  }
  @media (max-width: $md) {
    font-size: 12pt;
    // padding-top: 5%;
  }
}

.next-project h1 {
  font-family: "Graphik SemiBold";
  src: url(../font/Graphik-Semibold.ttf);
  color: #404040;
  font-size: 30pt;
  padding-right: 30px;

  @media (max-width: $lg) {
    font-size: 22pt;
    // padding-top: 5%;
  }
  @media (max-width: $md) {
    font-size: 20pt;
    // padding-top: 5%;
  }

  &:hover {
    color: #aaaaaa;
  }
}

.next-icon {
  width: 7%;
}
.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}