.layout-worktogether h1 {
  font-family: "Graphik SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url(../font/Graphik-Semibold.ttf);
  color: $primary;
  // background-color: yellow;
  padding-left: 0;
  margin: 0;
  padding-bottom: 30px;
}

.layout-worktogether a {
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  margin-top: 30%;
  // background-color: red;
}
