.layout-worktogether {
  margin-top: 20%;
  // margin-bottom: 10%;

  // background-color: green;
}

.layout-worktogether h1 {
  font-family: "Graphik SemiBold";
  src: url(../font/Graphik-Semibold.ttf);
  color: $primary;
  // background-color: yellow;
  padding-left: 0;
  margin: 0;
  padding-bottom: 3%;
  font-size: 30pt;
  @media (max-width: $lg) {
    font-size: 22pt;
    // padding-top: 5%;
  }
  @media (max-width: $lg) {
    font-size: 20pt;
    // padding-top: 5%;
  }
}

.layout-worktogether a {
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  // margin-top: 30%;
  color: $primary;
  font-size: 16pt;
  @media (max-width: $lg) {
    font-size: 12pt;
  }
  @media (max-width: $md) {
    font-size: 12pt;
  }

  // background-color: red;
}
