.one-background-typography {
  background-color: rgb(254, 148, 145);
  padding-top: 10px;
  padding-bottom: 100px;
  @media (max-width: $xl) {
    padding-bottom: 80px;
  }
  @media (max-width: $lg) {
    padding-bottom: 60px;
  }
  @media (max-width: $md) {
    padding-bottom: 50px;
  }
}

.one-project-subhead {
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 14pt;
  color: white;
  font-family: "BerlingskeSerif Bold";
  letter-spacing: 0.5px;
  src: url(../font/BerlingskeSerif-Bold.ttf);
  @media (max-width: $xl) {
    padding-top: 80px;
    // padding-bottom: 20px;
  }
  @media (max-width: $lg) {
    padding-bottom: 5px;

    padding-top: 60px;
  }
  @media (max-width: $md) {
    font-size: 12pt;
    padding-top: 50px;
  }
}

.one-font {
  font-family: "Graphik Medium";
  src: url(../font/Graphik-Medium.ttf);
  color: white;
  font-size: 40pt;
  margin-bottom: 70px;

  @media (max-width: $lg) {
    margin-bottom: 50px;
  }
  @media (max-width: $md) {
    font-size: 30pt;

    // margin-bottom: 30px;
  }
  @media (max-width: $md) {
    font-size: 20pt;

    // margin-bottom: 30px;
  }
}

.one-barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16pt;
  line-height: 26pt;
  @media (max-width: $xl) {
    font-size: 16pt;
  }
  @media (max-width: $lg) {
  }
  @media (max-width: $md) {
    font-size: 14pt;
    line-height: 24pt;
  }
}

.barlow-regular-text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16pt;
  line-height: 26pt;
  @media (max-width: $xl) {
    font-size: 16pt;
  }
  @media (max-width: $lg) {
  }
  @media (max-width: $md) {
    font-size: 14pt;
    line-height: 24pt;
    padding-bottom: 5%;
  }
}

.one-barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 16pt;
  line-height: 26pt;
  @media (max-width: $xl) {
    font-size: 16pt;
  }
  @media (max-width: $lg) {
  }
  @media (max-width: $md) {
    font-size: 14pt;
    line-height: 24pt;
  }
}

.barlow-semibold-text {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 16pt;
  line-height: 26pt;
  @media (max-width: $xl) {
    font-size: 16pt;
  }
  @media (max-width: $lg) {
  }
  @media (max-width: $md) {
    font-size: 14pt;
    line-height: 24pt;
  }
}

.one-color-container {
  margin-top: 10%;
}
.one-process-container {
  margin-top: 10%;
}

.col-centered {
  float: none;
  text-align: center;
}

.one-color-image {
  margin-top: 20%;
  margin-bottom: 20%;
  width: 50%;
}

.one-color-code {
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  font-size: 12pt;
  line-height: 26pt;
  color: $primary;
  @media (max-width: $sm) {
    font-size: 10pt;
  }
  @media (max-width: $xs) {
    font-size: 9pt;
  }
}
.one-process-sketch1 {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.one-process-sketch2 {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.one-signin {
  margin-top: 5%;
  font-family: "BerlingskeSerif ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url(../font/BerlingskeSerif-ExtraBold.ttf);
  font-size: 4em;
  color: rgb(116, 127, 255);
  @media (max-width: $md) {
    font-size: 2.3em;
  }
}

.one-signin-info {
  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  font-size: 1.4em;
  margin-bottom: 7%;
  @media (max-width: $md) {
    font-size: 1.2em;
  }
}

.one-mainfeed {
  margin-top: 15%;
  font-family: "BerlingskeSerif ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url(../font/BerlingskeSerif-ExtraBold.ttf);
  font-size: 4em;
  color: rgb(105, 201, 214);
  @media (max-width: $md) {
    font-size: 2.3em;
  }
}

.one-events {
  margin-top: 30%;
  font-family: "BerlingskeSerif ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url(../font/BerlingskeSerif-ExtraBold.ttf);
  font-size: 4em;
  color: rgb(247, 170, 112);
  @media (max-width: $md) {
    margin-top: 5%;
    font-size: 2.3em;
  }
}

.one-screen-image {
  // margin-left: 30px;
}

br {
  @media (max-width: $md) {
    display: none;
  }
  @media (max-width: $sm) {
    display: none;
  }
  @media (max-width: $xs) {
    display: none;
  }
}
