.two-audience {
  background-color: #f2f2f2;
}

.wireframe-text-big {
  font-family: "Graphik Medium";
  src: url(../font/Graphik-Medium.ttf);
  font-size: 14pt;
  line-height: 24pt;
  margin-bottom: 7%;
  // margin-bottom: 7%;
  color: $primary;
  @media (max-width: $xl) {
    font-size: 14pt;
  }
  @media (max-width: $lg) {
  }
  @media (max-width: $md) {
    font-size: 14pt;
    line-height: 24pt;
  }
}
.classWithPad {
  // margin: 3px;
  padding: 20px 30px 15px 30px;
}

.two-margin-bottom {
  margin-bottom: 15%;
}

.two-userflow-bgcolor {
  padding-top: 10%;
  background-color: #f2f2f2;
}

.wander-visualdesign {
  padding-top: 4%;
  background-color: #f2f2f2;
}

.gilroy-heading {
  font-family: "Gilroy Light";
  src: url(../font/Gilroy-Light.otf);
  color: $primary;
  font-size: 35pt;

  // margin-bottom: 7%;
  color: $primary;
  @media (max-width: $xl) {
    font-size: 28pt;
  }
  @media (max-width: $lg) {
  }
  @media (max-width: $md) {
    font-size: 20pt;
    // line-height: 24pt;
  }
  @media (max-width: $sm) {
    font-size: 16pt;
    // line-height: 24pt;
  }
}

.gilroy-text {
  font-family: "Gilroy Light";
  src: url(../font/Gilroy-Light.otf);
  color: $primary;
  font-size: 14pt;

  // margin-bottom: 7%;
  color: $primary;
  @media (max-width: $xl) {
    font-size: 14pt;
  }
  @media (max-width: $lg) {
  }
  @media (max-width: $md) {
    font-size: 10pt;
    line-height: 14pt;
  }
  @media (max-width: $sm) {
    font-size: 6pt;
    line-height: 10pt;
  }
}

.wander-icons {
  margin-top: 30px;
  width: 60%;
  @media (max-width: $lg) {
    margin-top: 50px;
    width: 60%;
  }
  @media (max-width: $md) {
    margin-top: 10px;
    width: 70%;
  }
  @media (max-width: $sm) {
    margin-top: 0;
    width: 60%;
  }
}

.wander-colors {
  width: 65%;
  @media (max-width: $md) {
    // margin-top: 8px;
    width: 80%;
  }
}
.wander-video {
  width: 30%;
  height: auto;
}

.background-video {
  background-color: pink;
}
