.layout-contact {
  padding-top: 70px;
}

hr.line-contact {
  float: left;
  margin-top: 7px;
  border-top: 1px solid #c7c7c7;
  width: 50px;
}

.contact-sub {
  font-size: 12pt;
  margin-left: 8px;
  color: #c7c7c7;
  float: left;
  //   background-color: red;
  font-family: "BerlingskeSerif Bold";
  src: url(../font/BerlingskeSerif-Bold.ttf);
  letter-spacing: 0.5px;
}

.contact-body {
  margin-top: 6%;
  @media (max-width: $md) {
    margin-top: 10%;
  }
  @media (max-width: $sm) {
  }
}

.contact-margin {
  @media (max-width: $md) {
    padding-top: 40px;
  }

  // // iphone x
  // @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  //   padding-top: 250px;
  // }
  // // iphone 8
  // @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  //   padding-top: 160px;
  // }
  // // iphone 5

  // @media screen and (device-aspect-ratio: 40/71) {
  //   // padding-top: 130px;
  // }
}

.contact-info {
  h1 {
    font-family: "Graphik SemiBold";
    src: url(../font/Graphik-Semibold.ttf);
    color: #404040;
    // position: absolute;
    display: block;
    margin-top: 7%;
    text-align: left;
    font-size: 38pt;
    @media (max-width: $lg) {
      font-size: 38pt;
    }
    @media (max-width: $md) {
      font-size: 30pt;
    }
    @media (max-width: $sm) {
      font-size: 19pt;
    }

    // background-color: red;
  }
  a {
    font-family: "Graphik Medium";
    src: url(../font/Graphik-Medium.ttf);
    color: $primary;
    font-size: 14pt;
  }

  p {
    font-family: "Graphik Regular";
    src: url(../font/Graphik-Regular.ttf);
    color: #aaaaaa;
    font-size: 14pt;

    line-height: 26pt;

    @media (max-width: $lg) {
      font-size: 12pt;
      line-height: 20pt;
    }
    @media (max-width: $md) {
      font-size: 12pt;
      line-height: 20pt;
    }
    @media (max-width: $sm) {
      margin-top: 1%;

      // font-size: 1.5em;
      // margin-left: 0;
    }

    @media (max-width: $xs) {
      // font-size: 1.5em;
      // margin-left: 0;
    }
    // background-color: red;
  }
}
