#wrap {
  //   margin-top: 30%;
  //   min-height: 100%;
}

#main {
  // background-color: red;
  // background-color: red;
  z-index: 9000;
  // overflow: hidden;
  // padding-bottom: 20%;
  margin-top: 12%;
  // @media (max-width: $md) {
  //   padding-bottom: 90%;
  // }
  // @media (max-width: $sm) {
  //   padding-bottom: 90%;
  // }

  // @media (max-width: $xs) {
  //   padding-bottom: 90%;
  // }
}

.footer {
  // padding-left: 10%;

  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear: both;
  // padding-top: 290px;
  @media (max-width: $xl) {
    // padding-left: 0;
  }
  // @media (max-width: $sm) {
  //   padding-left: 6%;
  // }

  // @media (max-width: $xs) {
  //   padding-left: 6%;
  // }
}

.footer-margin {
  // margin-top: 10%;
  // @media (max-width: $md) {
  //   margin-top: 20%;
  // }
  // @media (max-width: $sm) {
  //   margin-top: 20%;
  // }

  // @media (max-width: $xs) {
  //   margin-top: 20%;
  // }
}

.footer-copyrights {
  //   float: left;

  margin: auto !important;
  //   background-color: red;
}

.copyrights-text {
  font-size: 12pt;

  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  @media (max-width: $lg) {
    font-size: 10pt;
  }
}

.footer-email a {
  font-size: 12pt;

  font-family: "Graphik Light";
  src: url(../font/Graphik-Light.ttf);
  color: $primary;
  @media (max-width: $lg) {
    font-size: 10pt;
  }
  //   background-color: green;
}

.footer-email a:hover {
  text-decoration: none;
  font-family: "Graphik Regular";
  src: url(../font/Graphik-Regular.ttf);
  color: black;
}

.footer-link {
  font-size: 12pt;

  margin-left: 13%;

  color: $primary;
  @media (max-width: $lg) {
    font-size: 10pt;
  }
  // @media (max-width: $md) {
  //   margin-bottom: 1%;
  // }
  // @media (max-width: $sm) {
  //   margin-bottom: 1%;
  // }

  // @media (max-width: $xs) {
  //   margin-bottom: 1%;
  // }
}

.footer-link:hover {
  text-decoration: none;
  font-family: "Graphik Regular";
  src: url(../font/Graphik-Regular.ttf);
  color: black;
}

.footer-links {
  font-family: "Graphik Medium";
  src: url(../font/Graphik-Medium.ttf);
  // @media (max-width: $md) {
  //   font-family: "Graphik Light";
  //   src: url(../font/Graphik-Light.ttf);
  //   margin-bottom: 10%;
  // }
  // @media (max-width: $sm) {
  //   font-family: "Graphik Light";
  //   src: url(../font/Graphik-Light.ttf);
  // }

  // @media (max-width: $xs) {
  //   font-family: "Graphik Light";
  //   src: url(../font/Graphik-Light.ttf);
  // }
  //   float: left;
  //   margin: auto !important;
  //   background-color: pink;
}

.footer-designer {
  font-size: 14pt;

  font-family: "BerlingskeSerif Bold";
  src: url(../font/BerlingskeSerif-Bold.ttf);
}

.footer-instagram {
  margin-bottom: 22%;
}
