.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 3%;
  z-index: 9999;
  // background: #fff;
  // padding: 50px;
  padding-right: 6%;
  padding-left: 1%;
  // padding-top: 50px;
  // border-radius: 25px;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

@media (min-width: 601px) and (max-width: 650px) {
  .burger-menu,
  .burger-menu.open {
    top: 4.1%;
    padding-left: 1.8%;
  }
}

@media (min-width: 571px) and (max-width: 600px) {
  .burger-menu,
  .burger-menu.open {
    padding-left: 2.2%;
    top: 4%;
  }
}

@media (min-width: 511px) and (max-width: 570px) {
  .burger-menu,
  .burger-menu.open {
    top: 3.7%;
    padding-left: 3%;
  }
}

@media (min-width: 451px) and (max-width: 510px) {
  .burger-menu,
  .burger-menu.open {
    top: 3.3%;
    padding-left: 4%;
  }
}

@media (max-width: 450px) {
  .burger-menu,
  .burger-menu.open {
    top: 3.3%;
    padding-left: 6%;
  }
}

.burger-menu .bar1,
.bar2,
.bar3 {
  border-radius: 25px;

  width: 25px;
  height: 3px;
  color: black;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
  background-color: white;
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
  background-color: white;
}
