.new-line {
  white-space: pre-line;
  @media (max-width: $md) {
    white-space: normal;
  }
}

.header-bg-color {
  height: 82vh;
  @media (max-width: $xl) {
    height: 82vh;
  }
  @media (max-width: $lg) {
    height: 83vh;
  }
  @media (max-width: $md) {
    height: 85.4vh;
  }
  // iphone x
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    height: 80vh;
  }
  // iphone 8
  @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  }
  // iphone 5

  @media screen and (device-aspect-ratio: 40/71) {
    // padding-top: 130px;
  }
}

.header-row {
  margin-left: 0;
  padding-left: auto;

  margin-top: 50px;
  // background-color: red;
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  }
  // iphone 8
  @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    margin-top: 30px;
  }
  // iphone 5

  @media screen and (device-aspect-ratio: 40/71) {
    margin-top: 10px;
  }
}

.mainimage {
  // background-color: red;s
  height: 300px;
  width: auto;
  @media (max-width: $lg) {
    height: 250px;
  }
  @media (max-width: $md) {
    width: 30%;
    height: auto;
  }
  @media (max-width: $sm) {
    width: 30%;
    height: auto;
  }
  @media (max-width: $xs) {
    width: 60%;
    height: auto;
  }
}

.header-text {
  margin-left: 0;

  line-height: 42pt;
  margin-top: 40px;
  @media (max-width: $xl) {
  }
  @media (max-width: $lg) {
    margin-top: 50px;
  }
  @media (max-width: $md) {
  }
}

.header-text-type {
  font-family: "BerlingskeSerif Bold";
  letter-spacing: 0.5px;
  color: white;
  font-size: 12pt;
  margin-bottom: 20px;
  @media (max-width: $lg) {
    font-size: 10pt;
  }
}

.header-text-info {
  font-family: "Graphik Light";
  src: url(../../font/Graphik-Light.ttf);
  color: white;

  font-size: 28pt;
  line-height: 42pt;

  @media (max-width: $xl) {
    font-size: 24pt;
    line-height: 30pt;
  }
  @media (max-width: $lg) {
    font-size: 20pt;
  }
  @media (max-width: $md) {
    font-size: 20pt;
  }
  // iphone x
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    font-size: 18pt;
    line-height: 28pt;
  }
  // iphone 8
  @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    font-size: 18pt;
    line-height: 28pt;
  }
  // iphone 5

  @media screen and (device-aspect-ratio: 40/71) {
    font-size: 16pt;
    line-height: 24pt;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
  // background-color: green;
}
// below the header

.project-about {
  margin-top: 10%;
}

.project-name {
  margin-top: 100px;

  font-family: "Graphik SemiBold";
  src: url(../../font/Graphik-Semibold.ttf);
  font-size: 35pt;
  color: $primary;
}

.project-subhead {
  margin-top: 10%;
  font-size: 14pt;
  color: #c7c7c7;
  font-family: "BerlingskeSerif Bold";
  letter-spacing: 0.5px;

  src: url(../../font/BerlingskeSerif-Bold.ttf);
}

.project-info {
  font-family: "Graphik Light";
  src: url(../../font/Graphik-Light.ttf);
  font-size: 16pt;
  line-height: 26pt;
  color: $primary;
}

.approach {
  margin-top: 10%;
}

.approach-image {
  // margin-top: 5%;
  margin-left: -10%;
  // background-color: yellow;
}

.project-link-margin {
  margin-top: 80px;

  @media (max-width: $md) {
    margin-top: 50px;
    // margin-left: auto !important;
  }
}
.project-link {
  font-family: "Graphik Medium";
  src: url(../../font/Graphik-Medium.ttf);
  color: white;
  background-color: #f7aa70;
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  // border-radius: 10px;
}
.project-link:hover {
  background-color: #fe9491;
  text-decoration: none;
  color: white;
}

// /*........Scroll Down............*/
.scroll-bar {
  position: absolute;
  bottom: 0;
}
.c-scrolldown {
  width: 1px;
  height: 60px;
  position: relative;
  bottom: 0px;
  // left: 20px;
  // right: 0;
  // margin: 0 auto;
  overflow: hidden;
}
.c-scrolldown .c-line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0) 50%);
  background-position: 0 -60px;
  background-size: 100% 200%;
  animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

@keyframes scrolldown {
  0% {
    background-position: 0 -60px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 60px;
  }
}

.scroll-info {
  font-size: 8pt;
  margin-left: 10px;
  font-family: "Graphik Medium";
  src: url(../../font/Graphik-Medium.ttf);
  color: white;
}
